parameters:
    level: 7
    paths:
        - src
        - tests
    tmpDir: var/phpstan
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    treatPhpDocTypesAsCertain: true
    bootstrapFiles:
        - tests/bootstrap.php
